body {
  background-color: #222831;
  background-image: url(bg.jpg);
  background-size: cover;
}

div {
  border: 3px solid #00adb5;
  border-radius: 10px;
  width: 50%;
  background-color: #393e46;
  margin: auto;
  margin-top: 80px;
}

h1{
    color: #00ADB5;
    margin: 10px;
}

p{
    color: #EEEEEE;
    margin: 10px;
}
label{
    color: #00ADB5;
    margin: 10px;
}
button{
    background-color: #00ADB5;
    color: #393E46;
    border: none;
    margin: 10px;
}
